:root {
    --branco-principal: #FFFFFF;
    --cinza-alternativo: #cdc9c9;
    --botao-azul: #2284fb;
    --cor-de-fundo: #010513;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

.main {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 1em;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: lem;
}

.botao_alternativo {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    border-radius: 18px;
}

.container_aviso {
    font-size: 12px;
    color: var(--cinza-alternativo);
}

.container_titulo {
    font-size: 28px;
    font-weight: 700;
}

.container_imagem {
    margin: lem 0 2em 0;
}

.container_caixa {
    margin: 0 6em;
    margin-top: 140px;
}

.alternativo__imagem {
    width: 80%;
    align-items: center;
}

.alternativo {
    align-items: center;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 44px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dispositivos_lista {
    display: flex;
    align-items: center;
    text-align: center;
}

.dispositivos_titulo {
    margin-bottom: 20px;
}

.image-icon {
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista_item {
    margin-top: 18px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.list-alura {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 18px 0;

}

.list-alura li, .list-alura a {
    color: white !important;
    text-decoration: none;
    padding: 0 6px;
}