.mainContainer  {
    background-image: url("./img/Background.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;


}

.mainContainer h1 {
    color: white;
}

.mainContainer .firstButton  {
    color: white;
    background-color: blue;
    border-radius: 20px;
    padding: 20px;
}

.mainContainer .onlyAlura {
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.mainContainer .assignDiv {
    display: flex;
    flex-direction: column;
}
.mainContainer .assignDiv {
    color: white;
}